:root {
	/*HEX color to variables*/
	--colorNavyBlue: #2E2F42;
	--colorSlate: #434455;
	--colorIris: #4D5AE5;
	--colorOcean: #404BBF;
	--colorGreen: #31D0AA;
	--colorLightSlate: #8E8F99;
	--colorCornflower: #E7E9FC;
	--colorCloud: #F4F4FD;
	--colorNavyBlueModal: #2E2F4265; /* #2E2F42 40% */
	--colorGrey: #2E2F42b2; /* #2E2F42 70% */

	/*color definition*/
	--headersColor: var(--colorNavyBlue);
	--textColor: var(--colorSlate);
	--backgroundColorHeader: var(--colorCornflower);
	--backgroundColorDark: var(--colorNavyBlue);
	--backgroundColorLight: var(--colorCloud);
	--backgroundColorWhite: #fff;
	--buttonColor: var(--colorIris);
	--logoColor: var(--colorIris);
	--pressedStateColor: var(--colorOcean);
	--heroTextColor: #fff;
	--footerLinkColor: var(--colorCloud);
	--footerTextColor: var(--colorCloud);
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--colorSlate);
	background-color: var(--backgroundColorWhite);
}

.list {list-style: none}

.header ul,
.features ul,
.portfolio ul,
.our-team ul,
.button-list,
.project-list {
	list-style: none;
}

.header li,
.features li,
.portfolio li,
.our-team li,
.button-list li,
.project-list li {
	
}

.header {
	
}
.header nav,
.header address,
.header ul {

}

.header .link {
	text-decoration: none;
	color: var(--headersColor);
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: 0.02em;
}

.header address .link {
	color: var(--textColor);
	font-weight: 400;
}

.footer {
	color: var(--footerTextColor);
	background-color: var(--backgroundColorDark);
	
}
/*.footer .logo {
	text-decoration: none;
	color: var(--footerLinkColor);
}*/

.logo.link {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17; /* identical to box height, or 133% */
	letter-spacing: 0.03em;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--logoColor);
}

.header span {
	color: var(--headersColor);
}
.footer span {
	color: var(--footerLinkColor);
}

.address {
	font-style: normal;
}

.main {

}

.button {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5; /* identical to box height, or 150% */

	text-align: center;
	letter-spacing: 0.04em;
	cursor: pointer;

}

.hero-image {
	color: var(--heroTextColor);
	background-color: var(--backgroundColorDark);
	/*line-height: 1.07;*/
	text-align: center;
	letter-spacing: 0.02em;
}
.hero-image h1 {
	font-size: 56px;
	line-height: 1.07;
}
.hero-image .button {
	color: var(--heroTextColor);
	background-color: var(--buttonColor);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	/*pad__ding: 16px 32px;
	box-sha__dow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	bor__der-radius: 4px;*/
	letter-spacing: 0.04em;	
	text-transform: capitalize
}

.features h3,
.our-team h3,
.project-list h3 {
	color: var(--headersColor);
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}
.features p,
.our-team p,
.project-list p,
.footer p {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.portfolio {
	background-color: var(--backgroundColorWhite);
}


.portfolio h2,
.our-team h2 {
	color: var(--headersColor);
	font-size: 36px;
	line-height: 1.11;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 0.02em;
	font-weight: 700;
}

.our-team {
	background-color: var(--backgroundColorLight);
	text-align: center;
	/*disp__lay: flex;*/
	/*flex-dir__ection: column;*/
	justify-content: center;
/*	ali__gn-items: center;
	pad__ding: 0px;*/
	/*тут флекс работает как надо :) но мб по другому структуру нужно будет сделать*/
}

.our-team .team-card {
	background-color: var(--backgroundColorWhite);
	/*wid__th: 264px;
	hei__ght: 380px;*/
	
	/*box-sha__dow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	bor__der-radius: 0px 0px 4px 4px;*/
}

.team-card-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--headersColor);
}

.team-card-role {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--textColor);
}

.header .link:hover,
.header .link:focus {
	color: var(--pressedStateColor);
}

.button:hover,
.button:focus {
	color: var(--heroTextColor);
	background-color: var(--pressedStateColor);
}